In [ ]:
# Write a Python program that prints all the numbers from 0 to 6 except 3 and 6
for x in range(6) :
    if x != 3 and x !=6 :
        print(x)

0
1
2
4
5

In [ ]:
#  Write a program to calculate factorial of a given number
num = int(input("enter number :"))
fact = 1
i=1
while (i<=num) :
    fact = fact*i
    i+=1
print(fact)

enter number :4
24

In [ ]:
# Write a Python program that accepts a word from the user and reverses it
word = (input("enter sentence :"))
s = word.split()[::-1]
rev = []
for i in s:
    rev.append(i)
print(" ".join(rev))

enter sentence :hasini always smiles
smiles always hasini

In [ ]:
#  Write a Python program to check whether an alphabet is a vowel or consonant
alpha = input("enter alphabet :")
if alpha == "a"or alpha == "e" or alpha == "i" or alpha == "o" or alpha == "u" :
    print("vowel")
else :
    print("consonant")

enter alphabet :s
consonant

In [ ]:
# 11th Write a Python program to convert a month name to a number of days
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
month_name = input("Input the name of Month: ")
if month_name == "February":
	print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
	print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
	print("No. of days: 31 day")
else:
	print("Wrong month name")

List of months: January, February, March, April, May, June, July, August, September, October, November, December
Input the name of Month: April
No. of days: 30 days

In [ ]:
#6th code
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

num = int(input("Enter a number: "))
print("Factorial:", factorial(num))

Enter a number: 3
Factorial: 6

In [ ]:
#7th code
import random

initial_number = 25
progression = [initial_number]

for _ in range(4):  # Adjust the range to change the number of terms in the progression
    initial_number += random.randint(1, 10)
    progression.append(initial_number)

print("Random Arithmetic Progression:"),

Random Arithmetic Progression:

(None,)

In [ ]:
#8th code
the_input=input("enter the string:")
reversed=the_input[::-1]
print(reversed)

enter the string:sudheepthi
ihtpeehdus

In [ ]:
#9th code
string = input("Enter a string: ")
digits = sum(c.isdigit() for c in string)
letters = sum(c.isalpha() for c in string)
print(f"Number of digits: {digits}")
print(f"Number of letters: {letters}")

Enter a string: sudheepthi
Number of digits: 0
Number of letters: 10
Enter a string: srijani
Number of digits: 0
Number of letters: 7

In [ ]:
#10th code
alphabet = input("Enter an alphabet: ").lower()
if alphabet.isalpha() and len(alphabet) == 1:
    if alphabet in 'aeiou':
        print(f"{alphabet} is a vowel.")
    else:
        print(f"{alphabet} is a consonant.")
else:
    print("Please enter a single alphabet character.")

Enter an alphabet: s
s is a consonant.

In [ ]:
# 6. Write a Python program to create the multiplication table (from 1 to 10) of a number.
num = int(input("enter number : "))
i = 1
product =1
while (i<=10) :
    product = num * i
    print(product)
    i+=1

enter number : 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
# 7. Write a program to print n natural number in descending order using a while loop.
range = int(input("enter range : "))
i = range
while i>0 :
    print(i)
    i-=1

enter range : 5
5
4
3
2
1

In [ ]:
# functions
#1. Write a program to swap two numbers.
def swap() :
    num1 = int(input("enter number 1 : "))
    num2 = int(input("enter number 2 : "))
    temp = num1
    num1 = num2
    num2 = temp
    print(num1)
    print(num2)

In [ ]:
swap()

enter number 1 : 134
enter number 2 : 234
234
134

In [ ]:
#2. Write a program to reverse the given digits.
def reverse() :
    num = int(input("enter number :"))
    rev1 = 0
    while num != 0:
        digit = num % 10
        rev1= rev1 * 10 + digit
        num = num//10
    print(rev1)

In [ ]:
reverse()

enter number :456
654

In [ ]:
#3. Write a program to add up numbers in a given list .
def add() :
    list1 = [5,1,6,8,10]
    sum = 0
    for x in list1 :
        sum = sum + (x)
    print(sum)

In [ ]:
add()

30

In [ ]:
#4. Write a program to check wether a given string is a palindrome or not
def palindrome() :
    num = int(input("enter number :"))
    temp = num
    rev2 = 0
    while num !=0 :
        rem1 = num%10
        rev2 = rev2*10 + rem1
        num = num//10
    if temp == rev2 :
        print("palindrome")
    else :
        print("not a palindrome")

In [ ]:
palindrome()

enter number :121
palindrome

In [ ]:
# 5.Write a program to find the greatest number among given three numbers
def largest_of_3_numbers() :
    num1 = int(input("enter number 1 :"))
    num2 = int(input("enter number 2 :"))
    num3 = int(input("enter number 3 :"))
    if num1>num2 and num1>num3 :
        print(num1)
    elif num2>num1 and num2>num3 :
        print(num2)
    elif num3>num1 and num3>num2 :
        print(num3)

In [ ]:
largest_of_3_numbers()

enter number 1 :25
enter number 2 :34
enter number 3 :88
88

In [ ]:
# 6.Write a program to check wether the entered city name is present in telangana or not
def city() :
    city_name = input("enter name of the city :")
    if city_name in ("hyderabad","suryapet","medak","mahabubnagar","warangal","nalgonda","mancherial","jagtial","adilabad","khammam","karimnagar") :
        print("present in telangana")
    else :
        print("not present in telangana")

In [ ]:
city()

enter name of the city :hyderabad
present in telangana

In [ ]:
# 7.Write a program to reverse the given digits.
def reverse1() :
    num = int(input("enter number :"))
    rev2 = 0
    while num !=0 :
        rem1 = num%10
        rev2 = rev2*10 + rem1
        num = num//10
    print(rev2)

In [ ]:
reverse1()

enter number :543
345

In [ ]:
#8. Write a program to find the square root of a number .
def sqrt() :
    num = int(input("enter number :"))
    print(pow(num,0.5))

In [ ]:
sqrt()

enter number :25
5.0

In [ ]:
# 9. Write a program to calculate length of a string entered by a user.
def len_of_str() :
    str1 = input("enter a string :")
    print(len(str1))

In [ ]:
len_of_str()

enter a string :hello
5

In [ ]:
#10. Write a program to check if a given triangle is a right angled triangle or not
def right_angled_triangle() :
    s1 = int(input("enter side 1 :"))
    s2 = int(input("enter side 2 :"))
    s3 = int(input("enter side 3 :"))
    if (s1*s1) + (s2*s2) == (s3*s3) or (s1*s1) + (s3*s3) == (s2*s2) or (s2*s2) + (s3*s3) == (s1*s1) :
        print("the given triangle is a right angled")
    else :
        print("the given triangle is not right angled ")

In [ ]:
right_angled_triangle()

enter side 1 :5
enter side 2 :4
enter side 3 :3
the given triangle is a right angled

In [ ]:
#11. Write a program to convert a list into string.
def list_to_string(names):
    str2 = " "
    return(str2.join(names))
names = ["vaishnavi","keerthana","srijani","sudheepthi"]
print(list_to_string(names))

vaishnavi keerthana srijani sudheepthi

In [ ]:
list_to_string(names)

'vaishnavi keerthana srijani sudheepthi'

In [ ]:
#12. Write a program to print the largest string from a given list .
def largest_of_string() :
    str3 =["vaishnavi","fruit","chocolate","cool drinks"]
    max_len = -1
    for ele in str3 :
        if len(ele) > max_len :
            max_len = len(ele)
            res = ele

# printing result
    print("Maximum length string is : ", res)

In [ ]:
largest_of_string

In [ ]:
#13.Write a program to find lcm of two numbers.
def lcm_of_2nos(num1,num2) :
   num1 = int(input("enter number 1 :"))
   num2 = int(input("enter number 2 :"))
   if num1 > num2 :
       greater = num1
   else:
       greater = num2

   while(True):
       if((greater % num1 == 0) and (greater % num2 == 0)):
           lcm = greater
           break
       greater += 1

   return lcm
print("The L.C.M. is",lcm_of_2nos(num1, num2))

NameError: ignored