**ASSIGNMENT**

In [ ]:
# 1
def vol_cube(a):
    volume = a**3
    return(volume)
vol_cube(5)

125

In [ ]:
# 2
def rainbow():
    colors = ['Violet','Indigo','Blue','Green','Yellow','Orange','Red']
    print(colors)
rainbow()

['Violet', 'Indigo', 'Blue', 'Green', 'Yellow', 'Orange', 'Red']

In [7]:
# Write a program to swap two numbers.
def swap() :
    num1 = int(input("enter number 1 : "))
    num2 = int(input("enter number 2 : "))
    temp = num1
    num1 = num2
    num2 = temp
    print(num1)
    print(num2)

In [8]:
# Write a program to reverse the given digits.
def reverse() :
    num = int(input("enter number :"))
    rev1 = 0
    while num != 0:
        digit = num % 10
        rev1= rev1 * 10 + digit
        num = num//10
    print(rev1)

In [9]:
reverse()

enter number :234
432

In [10]:
# Write a program to add up numbers in a given list .
def add() :
    list1 = [5,1,6,8,10]
    sum = 0
    for x in list1 :
        sum = sum + (x)
    print(sum)

In [11]:
add()

30

In [12]:
# Write a program to check wether a given string is a palindrome or not
def palindrome() :
    num = int(input("enter number :"))
    temp = num
    rev2 = 0
    while num !=0 :
        rem1 = num%10
        rev2 = rev2*10 + rem1
        num = num//10
    if temp == rev2 :
        print("palindrome")
    else :
        print("not a palindrome")

In [13]:
palindrome()

enter number :1331
palindrome

In [14]:
# Write a program to find the greatest number among given three numbers
def largest_of_3_numbers() :
    num1 = int(input("enter number 1 :"))
    num2 = int(input("enter number 2 :"))
    num3 = int(input("enter number 3 :"))
    if num1>num2 and num1>num3 :
        print(num1)
    elif num2>num1 and num2>num3 :
        print(num2)
    elif num3>num1 and num3>num2 :
        print(num3)

In [15]:
# Write a program to check wether the entered city name is present in telangana or not
def city() :
    city_name = input("enter name of the city :")
    if city_name in ("hyderabad","suryapet","medak","mahabubnagar","warangal","nalgonda","mancherial","jagtial","adilabad","khammam","karimnagar") :
        print("present in telangana")
    else :
        print("not present in telangana")

In [3]:
city()

enter name of the city :hyderabad
present in telangana

In [18]:
# Write a program to find the square root of a number .
def sqrt() :
    num = int(input("enter number :"))
    print(pow(num,0.5))

In [20]:
sqrt()

enter number :625
25.0

In [21]:
#  Write a program to calculate length of a string entered by a user.
def len_of_str() :
    str1 = input("enter a string :")
    print(len(str1))

In [22]:
len_of_str()

enter a string :hasini
6

In [23]:
# Write a program to check if a given triangle is a right angled triangle or not
def right_angled_triangle() :
    s1 = int(input("enter side 1 :"))
    s2 = int(input("enter side 2 :"))
    s3 = int(input("enter side 3 :"))
    if (s1*s1) + (s2*s2) == (s3*s3) or (s1*s1) + (s3*s3) == (s2*s2) or (s2*s2) + (s3*s3) == (s1*s1) :
        print("the given triangle is a right angled")
    else :
        print("the given triangle is not right angled ")

In [25]:
right_angled_triangle()

enter side 1 :10
enter side 2 :2
enter side 3 :5
the given triangle is not right angled

In [26]:
# Write a program to convert a list into string.
def list_to_string(names):
    str2 = " "
    return(str2.join(names))
names = ["vaishnavi","keerthana","srijani","sudheepthi"]
print(list_to_string(names))

vaishnavi keerthana srijani sudheepthi

In [27]:
# Write a program to print the largest string from a given list .
def largest_of_string() :
    str3 =["vaishnavi","fruit","chocolate","cool drinks"]
    max_len = -1
    for ele in str3 :
        if len(ele) > max_len :
            max_len = len(ele)
            res = ele

# printing result
    print("Maximum length string is : ", res)

In [28]:
largest_of_string()

Maximum length string is :  cool drinks

In [1]:
# loops
# Write a Python program that prints all the numbers from 0 to 6 except 3 and 6
for x in range(6) :
    if x != 3 and x !=6 :
        print(x)

0
1
2
4
5

In [36]:
# Write a program to calculate factorial of a given number
num = int(input("enter number :"))
fact = 1
i=1
while (i<=num) :
    fact = fact*i
    i+=1
print(fact)

enter number :10
3628800

In [37]:
# Write a Python program that accepts a word from the user and reverses it
word = (input("enter word :"))
s = word.split()[::-1]
rev = []
for i in s:
    rev.append(i)
print(" ".join(rev))

enter word :hasini
hasini

In [38]:
# Write a Python program to check whether an alphabet is a vowel or consonant
alpha = input("enter alphabet :")
if alpha == "a"or alpha == "e" or alpha == "i" or alpha == "o" or alpha == "u" :
    print("vowel")
else :
    print("consonant")

enter alphabet :a
vowel

In [39]:
#  Write a Python program to convert a month name to a number of days
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
month_name = input("Input the name of Month: ")
if month_name == "February":
	print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
	print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
	print("No. of days: 31 day")
else:
	print("Wrong month name")

List of months: January, February, March, April, May, June, July, August, September, October, November, December
Input the name of Month: march
Wrong month name

In [40]:
#  Write a Python program to create the multiplication table (from 1 to 10) of a number.
num = int(input("enter number : "))
i = 1
product =1
while (i<=10) :
    product = num * i
    print(product)
    i+=1

enter number : 10
10
20
30
40
50
60
70
80
90
100

In [41]:
# Write a program to print n natural number in descending order using a while loop.
range = int(input("enter range : "))
i = range
while i>0 :
    print(i)
    i-=1

enter range : 20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1