In [ ]:
#1 question
import random

number_to_guess = random.randint(1, 9)
guessed = False

while not guessed:
    guess = int(input("Guess a number between 1 and 9: "))
    if guess == number_to_guess:
        print("Congratulations! You guessed the correct number.")
        guessed = True
    else:
        print("Try again.")

Guess a number between 1 and 9: 5
Try again.
Guess a number between 1 and 9: 1
Try again.
Guess a number between 1 and 9: 2
Congratulations! You guessed the correct number.

In [ ]:
# 3 question
for i in range(1, 6):
    print('* ' * i)
for i in range(4, 0, -1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#question 4
for i in range(7):
    if i != 3 and i != 6:
        print(i)

0
1
2
4
5

In [ ]:
#question 5
string = input("Enter a string: ")
letters = sum(c.isalpha() for c in string)
digits = sum(c.isdigit() for c in string)
print(f"Letters: {letters}, Digits: {digits}")

Enter a string: pravallika
Letters: 10, Digits: 0

In [ ]:
#question 6
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

num = int(input("Enter a number: "))
print("Factorial:", factorial(num))

Enter a number: 5
Factorial: 120

In [ ]:
#question 7
import random

def generate_arithmetic_progression(initial_number, common_difference, terms):
    progression = [initial_number + i * common_difference for i in range(terms)]
    return progression

initial_number = 25
common_difference = random.randint(1, 10) # You can adjust the range as needed
terms = 5 # You can change the number of terms as needed

random_ap = generate_arithmetic_progression(initial_number, common_difference, terms)
print(f"Random Arithmetic Progression: {random_ap}")

Random Arithmetic Progression: [25, 32, 39, 46, 53]

In [ ]:
#question 8
word = input("Enter a word: ")
reversed_word = word[::-1]
print("Reversed word:", reversed_word)

Enter a word: hello
Reversed word: olleh

In [ ]:
#question 10
alphabet = input("Enter an alphabet: ").lower()
if alphabet.isalpha() and len(alphabet) == 1:
    if alphabet in 'aeiou':
        print(f"{alphabet} is a vowel.")
    else:
        print(f"{alphabet} is a consonant.")
else:
    print("Please enter a single alphabet character.")

Enter an alphabet: H
h is a consonant.

In [ ]:
#question 11
month_name = input("Enter month name: ").lower()
days_in_month = {
    "january": 31, "february": 28, "march": 31, "april": 30,
    "may": 31, "june": 30, "july": 31, "august": 31,
    "september": 30, "october": 31, "november": 30, "december": 31
}
if month_name in days_in_month:
    print(f"Number of days in {month_name.capitalize()}: {days_in_month[month_name]}")
else:
    print("Invalid month name entered.")

Enter month name: july
Number of days in July: 31

In [ ]:
#question 12
month = input("Input the month (e.g. January, February etc.): ")
day = int(input("Input the day: "))

if month in ('January', 'February', 'March'):
 season = 'winter'
elif month in ('April', 'May', 'June'):
 season = 'spring'
elif month in ('July', 'August', 'September'):
 season = 'summer'
else:
 season = 'autumn'

if (month == 'March') and (day > 19):
 season = 'spring'
elif (month == 'June') and (day > 20):
 season = 'summer'
elif (month == 'September') and (day > 21):
 season = 'autumn'
elif (month == 'December') and (day > 20):
 season = 'winter'

print("season is",season)

Input the month (e.g. January, February etc.): july
Input the day: 26
season is autumn

In [ ]:
#question 13

def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

def get_next_day(year, month, day):
    days_in_month = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

    if is_leap_year(year):
        days_in_month[2] = 29

    if day < days_in_month[month]:
        return year, month, day + 1
    else:
        if month == 12:
            return year + 1, 1, 1
        else:
            return year, month + 1, 1

# Input date
year = int(input("Enter year: "))
month = int(input("Enter month (1-12): "))
day = int(input("Enter day (1-31): "))

next_year, next_month, next_day = get_next_day(year, month, day)
print(f"The next day is: {next_year}-{next_month:02d}-{next_day:02d}")

Enter year: 2006
Enter month (1-12): 7
Enter day (1-31): 26
The next day is: 2006-07-27

In [ ]:
#question 14
n = int(input("Enter a no"))
for i in range(1,11):
    print(n,'x',i,'=',n*i)

Enter a no5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#question 15
number = int(input("enter a no"))
i=number
while(i>=1):
    print(i)
    i=i-1

enter a no10
10
9
8
7
6
5
4
3
2
1

In [ ]:
#1 code
side = int(input("Enter side of cube"))
volume = side**3
print(volume)

Enter side of cube5
125

In [ ]:
# 2 code
colors = ["Violet","Indigo","Blue","Green","Yellow","Orange","Red"]
for color in colors:
    print(color)

Violet
Indigo
Blue
Green
Yellow
Orange
Red

In [ ]:
#3 code
def rev_string(s):
    str = " "
    for i in s:
        str = i + str
    return str
s = "Pravallika"
print(rev_string(s))

akillavarP

In [ ]:
#4 code
user_no = int(input("Enter a no"))
dig_list = [int(digit) for digit in str (user_no)]
print(dig_list)

Enter a no1234
[1, 2, 3, 4]

In [ ]:
#5 code
def right_angled(a, b, c):
    if (a*a+b*b==c*c) or (c*c+b*b==a*a) or (a*a+c*c==b*b) :
        return "The triangle is right-angled."
    else:
        return "The triangle is not right-angled."
right_angled(90,90,0)

'The triangle is right-angled.'

In [ ]:
#6 code
s = "Pravallika Karanam"
x = list(s)
print(x)

['P', 'r', 'a', 'v', 'a', 'l', 'l', 'i', 'k', 'a', ' ', 'K', 'a', 'r', 'a', 'n', 'a', 'm']

In [ ]:
#7 code
list = ["apple","banana","cherry"]
res_string = " ,".join(list)
print(res_string)

apple ,banana ,cherry

In [ ]:
# 8 code
telangana_cities = ["Hyderabad", "Warangal", "Karimnagar", "Nizamabad", "Khammam", "Ramagundam", "Mahbubnagar"]

user_city = input("Enter a city name: ")

result = f"{user_city} is in Telangana." if user_city.capitalize() in telangana_cities else f"{user_city} is not in Telangana."

print(result)

Enter a city name: hyderabad
hyderabad is in Telangana.

In [2]:
#9 code
str = input("Enter a string: ")

# using len() function to find length of str
print("Length of the input string is:", len(str))

Enter a string: hello
Length of the input string is: 5

In [ ]:
#10 code
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

In [1]:
#11 code
num_strings = int(input("Enter the number of strings: "))
string_list = []
for i in range(num_strings):hellb
    string = input(f"Enter string {i + 1}: ")
    string_list.append(string)
largest_string = max(string_list, key=len)

print(f"The largest string is: {largest_string}")

Enter the number of strings: 4
Enter string 1: hi
Enter string 2: hello
Enter string 3: bye
Enter string 4: hai
The largest string is: hello

In [ ]:
#12 code
numlist = [2,4,2,5,7,9,23,4,5]
numsum = sum(numlist)
print('Sum of List: ',numsum)
# Example with start
numsum = sum(numlist, 5)
print('Sum of List: ',numsum)

Sum of List:  61
Sum of List:  66

In [ ]:
#13 code
arr = [5, 9, 1, 10, 3, 8, 4, 2, 7, 6]
temp = 0
max_size = len(arr)
print("The elements of the array before sorting: ");
for i in range(0, max_size):
   print(arr[i], end=" ")

print()
for i in range(0, max_size):
   for j in range(i+1, len(arr)):
      if(arr[i] > arr[j]):
         temp = arr[i]
         arr[i] = arr[j]
         arr[j] = temp
print("The elements of the array after sorting: ")

for i in range(0, max_size):
   print(arr[i], end=" ")

The elements of the array before sorting:
5 9 1 10 3 8 4 2 7 6
The elements of the array after sorting:
1 2 3 4 5 6 7 8 9 10

In [ ]:
#14 code
def compute_lcm(x, y):

   # choose the greater number
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

num1 = 54
num2 = 24

print("The L.C.M. is", compute_lcm(num1, num2))

The L.C.M. is 216

In [ ]:
#15 code
def isPalindrome(str):

    for i in range(0, int(len(str)/2)):
        if str[i] != str[len(str)-i-1]:
            return False
    return True

s = "malayalam"
ans = isPalindrome(s)

if (ans):
    print("Yes")
else:
    print("No")

Yes

In [ ]:
#16 code

num1 = 10
num2 = 14
num3 = 12


if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

In [ ]:
# 17 code

x = 5
y = 10
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

In [ ]:
#18 code
def DecimalToBinary(num):

    if num >= 1:
        DecimalToBinary(num // 2)
    print(num % 2, end = '')
if __name__ == '__main__':

    dec_val = 24

    DecimalToBinary(dec_val)

011000

In [ ]:
#19 code
n = 4


square = n ** 2

print(square)

In [ ]:
#20 code
input_string = "Pravallika"
print("The input string is:", input_string)
mySet = set(input_string)
for element in mySet:
    countOfChar = 0
    for character in input_string:
        if character == element:
            countOfChar += 1
    print("Count of character '{}' is {}".format(element, countOfChar))

The input string is: Pravallika
Count of character 'a' is 3
Count of character 'i' is 1
Count of character 'P' is 1
Count of character 'l' is 2
Count of character 'v' is 1
Count of character 'r' is 1
Count of character 'k' is 1

In [ ]:
string = "Hello"

vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
result = ""

for i in range(len(string)):
    if string[i] not in vowels:
        result = result + string[i]

print("\nAfter removing Vowels: ", result)

After removing Vowels:  Hll