In [1]:
#AssginmentQ1
def vol_cube(a):
    volume = a**3
    return volume
s=int(input("Enter side"))
vol_cube(s)

Enter side10

1000

In [2]:
#AssginmentQ2
def rainbow(s):
    colors = ""
    return(colors.join(s))
s = [" Voilet"," Indigo"," Blue"," Green"," Yellow"," Orange"," Red"]
print(rainbow(s))

 Voilet Indigo Blue Green Yellow Orange Red

In [5]:
#AssignmentQ3
word = input("Enter a word: ")
reversed_word = word[::-1]
print("Reversed word:", reversed_word)

Enter a word: abcd
Reversed word: dcba

In [6]:
#AssignmentQ4
num = int(input("Enter a number"))
print("Given number : \n", num)
res = [int(x) for x in str(num)]
# Result
print("List of number: \n",res)

Enter a number987
Given number :
 987
List of number:
 [9, 8, 7]

In [7]:
#AssignmentQ5
def right_angled(a, b, c):
    if (a*a+b*b==c*c) or (c*c+b*b==a*a) or (a*a+c*c==b*b) :
        return "The triangle is right-angled."
    else:
        return "The triangle is not right-angled."
right_angled(3,4,5)

'The triangle is right-angled.'

In [8]:
#AssignmentQ6
s=input("Enter a string")
x=[i for i in s]
print(x)

Enter a stringabcde
['a', 'b', 'c', 'd', 'e']

In [9]:
#AssignmentQ7
def listToString(s):
    str1 = ""
    for l in s:
        str1 += l
    return str1
s = ['I', 'am', 'student']
print(listToString(s))

Iamstudent

In [ ]:
#AssignmentQ8
c=0;
cname=input("Enter a city name")
cities=[Hyderabad,Secunderabad,Warangal]
while cname in cities:
      c=1
if(c==1):
    print("Present in State of Telangana")

In [15]:
#AssignmentQ9
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: Hyderabad
Length of the input string is: 9

In [4]:
#AssignmentQ10
number = int(input("Enter the integer number: "))
revs_number = 0
while (number > 0):
    remainder = number % 10
    revs_number = (revs_number * 10) + remainder
    number = number // 10
print("The reverse number is :",revs_number)

Enter the integer number: 2345
The reverse number is : 5432

In [16]:
#AssignmentQ11
test_list = [ 'Cookies', 'Chocolate', 'Green', 'Apple']
lengths = [len(s) for s in test_list]
longest_index = lengths.index(max(lengths))
longest_string = test_list[longest_index]
print("Longest string is : " + longest_string)

Longest string is : Chocolate

In [17]:
#AssignmentQ12
total = 0
list1 = [11, 5, 17, 18, 23]
for ele in range(0, len(list1)):
    total = total + list1[ele]
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [18]:
#AssignmentQ13
arr = [5, 9, 1, 10, 3, 8, 4, 2, 7, 6]
temp = 0
max_size = len(arr)
print("The elements of the array before sorting: ");
for i in range(0, max_size):
   print(arr[i], end=" ")

print()
for i in range(0, max_size):
   for j in range(i+1, len(arr)):
      if(arr[i] > arr[j]):
         temp = arr[i]
         arr[i] = arr[j]
         arr[j] = temp
print("The elements of the array after sorting: ")

for i in range(0, max_size):
   print(arr[i], end=" ")

The elements of the array before sorting:
5 9 1 10 3 8 4 2 7 6
The elements of the array after sorting:
1 2 3 4 5 6 7 8 9 10

In [20]:
#AssignmentQ14
def compute_lcm(x, y):

   # choose the greater number
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))

print("The L.C.M. is", compute_lcm(num1, num2))

Enter a number20
Enter a number30
The L.C.M. is 60

In [21]:
#AssignmentQ15
def isPalindrome(s):
    return s == s[::-1]

s = input("Enter a string")
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Enter a stringhello
No

In [22]:
#AssignmentQ16
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter Third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter first number: 12
Enter second number: 13
Enter Third number: 14
The largest number is 14

In [23]:
#AssignmentQ17
x = input('Enter value of x: ')
y = input('Enter value of y: ')
temp = x
x = y
y = temp
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 25
Enter value of y: 12
The value of x after swapping: 12
The value of y after swapping: 25

In [24]:
#AssignmentQ18
def DecimalToBinary(num):

    if num >= 1:
        DecimalToBinary(num // 2)
    print(num % 2, end = '')

if __name__ == '__main__':

    dec_val = 24
    DecimalToBinary(dec_val)

011000

In [25]:
#AssignmentQ19
import math
x = int(input("Enter a number"))
y = math.sqrt(x)
print(y)

Enter a number32
5.656854249492381

In [26]:
#AssignmentQ20
count = 0
my_string = input("Enter a string")
my_char = input("Enter a character")
for i in my_string:
    if i == my_char:
        count += 1
print(count)

Enter a stringname
Enter a characterroll
0

In [27]:
#AssignmentQ21
string = input("Enter a string")

vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
result = ""

for i in range(len(string)):
    if string[i] not in vowels:
        result = result + string[i]

print("\nAfter removing Vowels: ", result)

Enter a stringsweet

After removing Vowels:  swt

#loops

In [ ]:
#1st code
import random

number_to_guess = random.randint(1, 9)
guessed = False

while not guessed:
    guess = int(input("Guess a number between 1 and 9: "))
    if guess == number_to_guess:
        print("Congratulations! You guessed the correct number.")
        guessed = True
    else:
        print("Try again.")

In [32]:
#2nd code
for i in range(1,6):
    for i in range(i):
        print("* "*i)
    print("\n")

*



*
* *



*
* *
* * *



*
* *
* * *
* * * *

In [34]:
#3rd code
for i in range(1, 6):
    print('* ' * i)
for i in range(4, 0, -1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [36]:
#4th code
for i in range(1,7):
    if i != 3 and i != 6:
        print(i)

1
2
4
5

In [37]:
#5th code
string = input("Enter a string: ")
letters = sum(c.isalpha() for c in string)
digits = sum(c.isdigit() for c in string)
print(f"Letters: {letters}, Digits: {digits}")

Enter a string: monday
Letters: 6, Digits: 0

In [39]:
#6th code
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)
num = int(input("Enter a number: "))
print("Factorial:", factorial(num))

Enter a number: 20
Factorial: 2432902008176640000

In [40]:
#7th code
import random

initial_number = 25
progression = [initial_number]

for _ in range(4):  # Adjust the range to change the number of terms in the progression
    initial_number += random.randint(1, 10)
    progression.append(initial_number)

print("Random Arithmetic Progression:")

Random Arithmetic Progression:

In [41]:
#8th code
word = input("Enter a word: ")
reversed_word = word[::-1]
print("Reversed word:", reversed_word)

Enter a word: doll
Reversed word: llod

In [42]:
#9th code
string = input("Enter a string: ")
digits = sum(c.isdigit() for c in string)
letters = sum(c.isalpha() for c in string)
print(f"Number of digits: {digits}")
print(f"Number of letters: {letters}")

Enter a string: sunday
Number of digits: 0
Number of letters: 6

In [43]:
#10th code
alphabet = input("Enter an alphabet: ").lower()
if alphabet.isalpha() and len(alphabet) == 1:
    if alphabet in 'aeiou':
        print(f"{alphabet} is a vowel.")
    else:
        print(f"{alphabet} is a consonant.")
else:
    print("Please enter a single alphabet character.")

Enter an alphabet: a
a is a vowel.

In [45]:
#11th code
month_name = input("Enter month name: ").lower()
days_in_month = {
    "january": 31, "february": 28, "march": 31, "april": 30,
    "may": 31, "june": 30, "july": 31, "august": 31,
    "september": 30, "october": 31, "november": 30, "december": 31
}
if month_name in days_in_month:
    print(f"Number of days in {month_name.capitalize()}: {days_in_month[month_name]}")
else:
    print("Invalid month name entered.")

Enter month name: january
Number of days in January: 31

In [46]:
#12th code
month = input("Input the month : ")
day = int(input("Input the day: "))

if month in ('January', 'February', 'March'):
	season = 'winter'
elif month in ('April', 'May', 'June'):
	season = 'spring'
elif month in ('July', 'August', 'September'):
	season = 'summer'
else:
	season = 'autumn'

if (month == 'March') and (day > 19):
	season = 'spring'
elif (month == 'June') and (day > 20):
	season = 'summer'
elif (month == 'September') and (day > 21):
	season = 'autumn'
elif (month == 'December') and (day > 20):
	season = 'winter'

print("Season is",season)

Input the month : october
Input the day: 20
Season is autumn

In [47]:
#13th code
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

def get_next_day(year, month, day):
    days_in_month = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

    if is_leap_year(year):
        days_in_month[2] = 29

    if day < days_in_month[month]:
        return year, month, day + 1
    else:
        if month == 12:
            return year + 1, 1, 1
        else:
            return year, month + 1, 1

# Input date
year = int(input("Enter year: "))
month = int(input("Enter month (1-12): "))
day = int(input("Enter day (1-31): "))

next_year, next_month, next_day = get_next_day(year, month, day)
print(f"The next day is: {next_year}-{next_month:02d}-{next_day:02d}")

Enter year: 2005
Enter month (1-12): 1
Enter day (1-31): 13
The next day is: 2005-01-14

In [48]:
#14th code
n = int(input("Input a number: "))
for i in range(1,11):
    print(n,'x',i,'=',n*i)

Input a number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [50]:
#Code 15
number = int(input("Please Enter any Number: "))
i = number
while ( i >= 1):
    print (i, end = '  ')
    i = i - 1

Please Enter any Number: 10
10  9  8  7  6  5  4  3  2  1